html,body {
  background-color: #323437;
  color: #ccc;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 20px;
}

.title {
  text-align: center;
}

#para{
  text-align: center;
}

#ref {
  font-size: x-large;
}

#user_input {
  width: 0px;
  display: none;
}

.title {
  text-align: center;
  color: #e0e0e0;
}